.FooterStyle{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #E5D3B3;    
}

.FooterText{
    margin-right: 3px;
}

.FooterLinkStyle{
    text-decoration: none;
    color: green;
    margin-right: 3px;

}

.FooterStyleRepo{
    margin-right: 3px;
}

.FooterContainer {
    background-color: #E5D3B3;    padding-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
